body {
    background: #ECF0F1;
    font-family: 'Nunito';
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(27,79,114)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: #1B4F72;
}

#headingGroup .text {
    color: #1B4F72;
}

.img-fluid {
    min-height: 400px;
}

img.img-fluid.img-headshot {
    min-width: 280px;
}

img.img-fluid.img-caley {
    max-height: 500px;
}


.blurb h2 {
    color: #1B4F72;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.blurb p {
    color: #5D6D7E;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.stars {
    color: #1B4F72;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.vertical-menu {
    color: #1B4F72;
    width: 200px;
    padding-top: 12px;
    font-size: 1.15rem;
    font-family: "Nunito";
    font-weight: 100;
    text-transform: uppercase; 
}

.vertical-menu a {
    background-color: #1B4F72;
    display: block;
    padding: 5px 12px;
    text-decoration: none;
    color: #ECF0F1;
    border-bottom: #ECF0F1 2px solid;
}

.vertical-menu a:hover {
    color: #1B4F72;
    background-color: #979A9A;
}

a.pl-3.selected {
    color: #1B4F72;
    background-color: #979A9A;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color: #1B4F72;
    font-size: 1.5rem;
}

#mainNavbar .nav-link {
    color: #1B4F72;
}

#mainNavbar .nav-link:hover {
    color: white;
}

#headingGroup span {
    color: #1B4F72;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
    text-transform: uppercase;
}


#projectButtons {
  margin: 7px;
}

.navbar.scrolled {
    background: #979A9A;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
        text-transform: uppercase;
    }
}
